:root {
	--colour: #3192d8;
	--text: #171a21;
	--paper: #fefdff;
	--accent: #eb4511;
	--line: 2px;

	font-size: 20px;
}

body {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8rem;
	line-height: 1.5;
	margin: 0;
	padding: 1rem 0.25rem 2rem;
	max-width: 36rem;
	margin: 0 auto;
	color: var(--text);

	background: var(--colour);
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem 0;
	font-weight: 400;
	line-height: 3rem;
}

h1 {
	font-size: 2rem;
}

a {
	color: var(--accent);
	text-decoration: none;
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: 100% var(--line);
	background-position-y: 16px;
	background-image: linear-gradient(var(--accent), var(--accent));
}

p {
	margin: auto;
	padding-bottom: 1rem;
}
