:root {
	--text: #2e3141;
	--paper: #fefefe;
	--lines: #e7f3fc;
	--accent: #0b5394;
	--contrast: #dda617;
	--line: 2px;

	--background: #092136;

	font-size: 20px;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #faf0f5;
		--paper: #1f2232;
		--lines: #2e3141;
		--accent: #4f9add;
		--line: 2px;
	}
}

body {
	font-family: "Nunito", sans-serif;
	font-size: 0.8rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: var(--text);

	background: var(--background);
	background-size: cover;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding-bottom: 1rem;
	font-weight: 700;
	line-height: 2rem;
}

h1 {
	font-size: 2rem;
	min-height: 5rem;
}

a {
	color: var(--accent);
	text-decoration: underline;
	text-underline-offset: 0.0625rem;
	text-decoration-thickness: var(--line);
}

p {
	margin: auto;
	padding-bottom: 1rem;
}

p:last-child {
	padding-bottom: 0;
}

main {
	background-image: repeating-linear-gradient(
		var(--lines),
		var(--lines) var(--line),
		var(--paper) var(--line),
		var(--paper) calc(1rem)
	);
	background-repeat: no-repeat;
	background-position: 1rem 6.8125rem;
	background-size: calc(100% - 2rem);

	box-shadow: 4px 4px 0 -2px var(--paper), 4px 4px 0 var(--text),
		-4px 8px 0 -2px var(--paper), -4px 8px 0 var(--text),
		0 12px 0 -2px var(--paper), 0 12px 0 var(--text);
}

main img,
main video {
	width: 100%;
	display: block;
	border: 1rem solid var(--lines);
	height: 20rem;
	object-fit: cover;
	padding: 0;
	margin: 0;
}

main video {
	height: 18rem;
}

blockquote {
	background-color: var(--lines);
	margin: 0;
	padding: 1rem;
	position: relative;
	top: -3px;
}

hr {
	height: 1rem;
	border: none;
	border-top: solid var(--line) var(--accent);
	padding: 0;
	margin: 0;
	position: relative;
	top: calc(var(--line) * -1);
}
