:root {
	--background: #68031b;
	--text: #2e3141;
	--paper: #fefefe;
	--lines: #faf0f5;
	--accent: #6b7c55;
	--cover: #dda617;
	--line: 2px;

	font-size: 20px;
	-webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #68031b;
		--text: #faf0f5;
		--paper: #1f2232;
		--lines: #2e3141;
		--accent: #94ae72;
		--cover: #dda617;
		--line: 2px;
	}
}

body {
	font-family: "Nunito", sans-serif;
	font-size: 0.8rem;
	line-height: 1.5;
	margin: 0;
	padding: 0.25rem;
	color: var(--text);

	background: var(--background);
	background-size: cover;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding-bottom: 1rem;
	font-weight: 700;
	line-height: 2rem;
}

h1 {
	font-size: 2rem;
	min-height: 5rem;
}

a {
	color: var(--accent);
	text-decoration: none;
	background-repeat: no-repeat;
	background-size: 100% var(--line);
	background-position-y: 1rem;
	padding-bottom: 0.5rem;
	background-image: linear-gradient(var(--accent), var(--accent));
}

p {
	margin: auto;
	padding-bottom: 1rem;
}

p:last-child {
	padding-bottom: 0;
}

main img,
main video {
	width: 100%;
	display: block;
	border: 1rem solid var(--lines);
	height: 20rem;
	object-fit: cover;
	padding: 0;
	margin: 0;
}

main video {
	height: 18rem;
}

blockquote {
	background-color: var(--lines);
	margin: 0;
	padding: 1rem;
}

hr {
	height: 1rem;
	border: none;
	border-top: solid var(--line) var(--accent);
	padding: 0;
	margin: 0;
}
